/*div {*/
    /*background: wheat;*/
    /*padding: 20px;*/
    /*border-radius: 10px;*/
/*}*/

.post-text {
    font-size: large;
    font-weight: bold;
}
.post-name {
    font-size: medium;
}
.post-year {
    font-size: medium;
    font-weight: lighter;
}

ul#horizontal-list{
    list-style: none;
    padding-top: 20px;
    min-width: 696px;
}
ul#horizontal-list li{
    display: inline;
}
.category{
    display: table;
    margin: 0 auto;
}

.logo{
    max-width: 30px;
    max-height: 30px;
}

.login_form_userdata{
    display: block;
    font-size: 14px;
    line-height: 1.5;
    margin: auto auto auto;
    vertical-align: baseline;
    position: relative;
    box-sizing: border-box;
    alignment: center;
}

#header {
    position: relative;
    z-index: 50;
    border: solid #262626;
    border-width: 1px 0;
    background: #ffffff;
    text-align: center;

}

a{
    text-underline-color: white;
    color : black;
}
a:link{
    color : black;
}
a:visited{
    color : black;
}
a:hover{
    text-underline-color: black;
}
