<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script type="text/javascript"
                src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="stylesheets/mainTheme.css">
        <title>New Post</title>
    </head>
    <body>

        <div id="addNew">
            <form action="/newPost" method="post">
                <input name="text" id="text" placeholder="Name of the product"/>
                <br>
                <input name="name" id="name" placeholder="Name of the Person"/>
                <br>
                <input name="year" id="year" placeholder="Production year"/>
                <hr>
                <button type="submit">ADD</button>
            </form>
        </div>
    </body>
</html>