<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/mainTheme.css">
    <title>Document</title>
</head>

<body>
<div id="wrapper">
    <div id="container">
        <hr>
        <div id="post">
            <p class="post-text">text : <%= JSON.stringify(post)%> </p>
        </div>
    </div>
</div>
</body>
</html>